.btn-solid.svelte-5g42hi {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(234 88 12 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(234 88 12 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(241 245 249 / var(--tw-text-opacity));
}
.btn-solid.svelte-5g42hi:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(210 65 21 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.btn-solid.disabled.svelte-5g42hi {
  cursor: not-allowed;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.btn-borderless.svelte-5g42hi {
  --tw-text-opacity: 1;
  color: rgb(234 88 12 / var(--tw-text-opacity));
}
.btn-borderless.svelte-5g42hi:hover {
  --tw-text-opacity: 1;
  color: rgb(194 45 1 / var(--tw-text-opacity));
}
.btn-borderless-green.svelte-5g42hi {
  --tw-text-opacity: 1;
  color: rgb(57 161 105 / var(--tw-text-opacity));
}
.btn-borderless-green.svelte-5g42hi:hover {
  --tw-text-opacity: 1;
  color: rgb(194 45 1 / var(--tw-text-opacity));
}
.btn-outline.svelte-5g42hi {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(234 88 12 / var(--tw-border-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-text-opacity: 1;
  color: rgb(234 88 12 / var(--tw-text-opacity));
}
.btn-outline.svelte-5g42hi:hover {
  --tw-border-opacity: 1;
  border-color: rgb(210 65 21 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 237 213 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(194 45 1 / var(--tw-text-opacity));
}
.btn-borderless.disabled.svelte-5g42hi {
  cursor: not-allowed;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.btn-outline-secondary.svelte-5g42hi {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
}
.btn-outline-secondary.svelte-5g42hi:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.btn-outline.disabled.svelte-5g42hi {
  cursor: not-allowed;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}
.btn-outline-white.svelte-5g42hi {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  padding-left: 6px;
  padding-right: 6px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.btn-sm.btn-solid.svelte-5g42hi {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.btn-base.btn-solid.svelte-5g42hi {
  padding-left: 1rem;
  padding-right: 1rem;
}
.btn-sm.svelte-5g42hi {
  line-height: 1.6;
}
.btn-base.svelte-5g42hi {
  line-height: 2.5;
}
.btn-rounded-selected.svelte-5g42hi {
  border-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(253 186 116 / var(--tw-bg-opacity));
  padding: 0.25rem 0.75rem;
  font-weight: 600;
}
.btn-selected.svelte-5g42hi {
  --tw-bg-opacity: 1;
  background-color: rgb(253 186 116 / var(--tw-bg-opacity));
  padding: 0.25rem 0.75rem;
  font-weight: 600;
}
.btn-unselected.svelte-5g42hi {
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
  .btn-sm.svelte-5g42hi {
    line-height: 1.8;
  }
  .btn-base.svelte-5g42hi {
    line-height: 2.3;
  }
}
